html{
    text-align: center;
    font-size: 30px;
}
.div0{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 70px;
    border: solid medium black;
    position:absolute;
}
.div{
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    border: solid medium black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.div-1{
    position: absolute;
    top: 50px;
    left: 50px;
}
.div-2{
    position: absolute;
    top: 50px;
    left: 255px;
}
.div-3{
    position: absolute;
    top: 255px;
    left: 50px;
}
.div-4{
    position: absolute;
    top: 255px;
    left: 255px;
}